


<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <app-message-dialog
  [(visible)]="messageDialogVisible"
  [title]="messageDialogTitle"
  [message]="messageDialogMessage"
  [type]="messageDialogType"
  [loading]="messageDialogLoading"
  (onConfirm)="handleMessageConfirm()"
></app-message-dialog>


<app-confirm-dialog
  [(visible)]="confirmDialogVisible"
  [title]="confirmDialogTitle"
  [message]="confirmDialogMessage"
  [loading]="confirmDialogLoading"
  [confirmSeverity]="confirmDialogSeverity"
  (onConfirm)="handleConfirm()"
  (onCancel)="confirmDialogVisible = false"
></app-confirm-dialog>
  
  <div class="form-container">
    
    <div class="form-field">
      <label for="name">
        نام واحد <span class="required">*</span>
      </label>
      <input 
        pInputText 
        id="name" 
        formControlName="name" 
        placeholder="نام واحد را وارد کنید"
        [class.ng-invalid]="isInvalid('name')"
        class="w-full"
      />
      <small class="error-message" *ngIf="isInvalid('name')">
        نام واحد الزامی است (حداقل 2 کاراکتر)
      </small>
    </div>

    <div class="form-field">
      <label for="description">توضیحات</label>
      <textarea
        pInputTextarea
        id="description"
        formControlName="description"
        rows="3"
        placeholder="توضیحات واحد..."
        class="w-full"
      ></textarea>
    </div>

    <div class="form-field">
      <label>وضعیت</label>
      <div class="status-buttons">
        <div 
          *ngFor="let opt of statusOptions"
          class="status-option"
          [class.active]="userForm.get('isActive')?.value === opt.value"
          (click)="userForm.get('isActive')?.setValue(opt.value)">
          <i [class]="opt.value ? 'pi pi-check-circle' : 'pi pi-ban'"></i>
          <span>{{ opt.label }}</span>
        </div>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <button
      type="button"
      pButton
      label="انصراف"
      icon="pi pi-times"
      class="p-button-outlined"
      (click)="close()"
    ></button>
    <button
      type="submit"
      pButton
      [label]="isEditMode ? 'ویرایش واحد' : 'ایجاد واحد'"
      [icon]="isEditMode ? 'pi pi-pencil' : 'pi pi-plus'"
      [loading]="loading"
      class="p-button-primary"
    ></button>
  </div>
</form>